@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Rubik:wght@500&display=swap');

body {
  background-color: #FEFCFA;
}
.headerNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 103px;
}

.headerNavBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logotype {
  font-family: 'Rubik', sans-serif;
  color: #122659;
  font-size: 24px;
  align-self: flex-end;
  margin-left: 98px;
}

.phoneBlock {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: auto;
  margin-right: 98px;
}

.headerNavLinks {
  align-self: center;
  margin-left: 57px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headerNavLink {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #122659; 
}

.phoneBlock img {
  width: 15px;
  height: 15px;
}

.phoneBlock p {
  margin-left: 10px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #122659;
}

.burger {
  display: none;
}

@media (max-width: 1150px) {
  .headerNav {
    height: 81px;
  }
  .headerNavLinks {
    display: none;
  }
  .logotype {
    margin-left: 25px;
  }
  .phoneBlock {
    margin-right: 45px;
  }
  .burger {
    transform: translateY(1.5px);
    display: block;
    width: 24px;
    height: 13px;
    cursor: pointer;
    position: relative;
    margin-left: 45px;
    align-self: center; 
  }
  .burger span,
  .burger::before,
  .burger::after{
    position: absolute;
    height: 17%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #122659;
  }
  
  .burger::before,
  .burger::after{
    content: "";
  }
  
  .burger::before {
    top: 0;
  }
  
  .burger::after {
    bottom: 0;
  }

  .burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  
}

@media (max-width: 1150px) {
  .headerNav {
    height: 77px;
  }
  .headerNavLinks {
    display: none;
  }
  .logotype {
    margin-left: 15px;
  }
  .phoneBlock {
    display: none;
  }
  .burger {
    transform: translateY(1.5px); 
    display: block;
    width: 24px;
    height: 13px;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    align-self: center; 
  }
  .burger span,
  .burger::before,
  .burger::after{
    position: absolute;
    height: 17%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #122659;
  }
  
  .burger::before,
  .burger::after{
    content: "";
  }
  
  .burger::before {
    top: 0;
  }
  
  .burger::after {
    bottom: 0;
  }

  .burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  
}

.firstMain {
  position: relative;
  background-image: url(./images/main\ photo.png);
  width: 100%;
  height: 512px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.cloud {
  position: absolute;
  top: 76px;
  right: 83px;
}
.car {
  position: absolute;
  top: 37px;
  left: 64px;
}
.firstMainTextBlock {
  padding-top: 136px;
  width: 375px;
  margin-left: 198px; 
}
.firstMainHeader {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: #122659;
}
.firstMainHeaderBottom {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #122659;
}
.firstMainText {
  color: #122659;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 30px;
  width: 375px;
  line-height: 22.4px;
}
.firstMainBtn {
  font-size: 16px;
  line-height: 22.4px;
  margin-top: 45px;
  color: #122659;
  padding: 18px 35px 20px 35px;
  background-color: #FFD787;
  border-radius: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

@media (max-width: 1150px) {
  .firstMain {
    background-image: url(./images/main2\ photo.png);
    height: 441px;
  }
  .cloud {
    display: none;
  }
  .car {
    left: 10px;
    top: 31px;
    height: 46px;
    width: 58px;
  }
  .firstMainTextBlock {
    padding-top: 92px;
    margin-left: 45px; 
  }
}

@media (max-width: 730px) {
  .firstMain {
    background-image: url(./images/main3\ photo.png);
    height: 304px;
  }
  .car {
    left: 3px;
    top: 12px;
    height: 38px;
    width: 48px;
  }
  .firstMainTextBlock {
    padding-top: 60px;
    margin-left: 25px;
    max-width: 270px;
  }
  .firstMainText {
    margin-top: 20px;
    width: 230px;
    font-size: 14px;
    line-height: 19.6px;
  }
  .firstMainHeader {
    font-size: 28px;
    line-height: 39.2px;
    color: #122659;
  }
  .firstMainHeaderBottom {
    font-size: 16px;
    line-height: 22.4 px;
  }
  .firstMainBtn {
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 30px;
    color: #122659;
    padding: 13px 23px 16px 23px;
    background-color: #FFD787;
    border-radius: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
}

.wrapper {
  position: relative;
}

.girl {
  z-index: -1;
  position: absolute;
  top: calc(741px + 103px);
  left: 25.38px;
}
@media (max-width: 1150px) {
  .girl {
    display: none;
  }
}
.rocket {
  z-index: -1;
  position: absolute;
  top: 677px;
  right: 156px;
}
@media (max-width: 1150px) {
  .rocket {
    width: 101px;
    height: 50px;
    right: 45px;
    top: 582px;
  }
}
@media (max-width: 730px) {
  .rocket {
    width: 67px;
    height: 34px;
    right: 15px;
    top: 394px;
  }
}
.star {
  z-index: -1;
  position: absolute;
  top: 1974px;
  left: 134px;
}
@media (max-width: 1150px) {
  .star {
    width: 40px;
    height: 39px;
    left: 25px;
    top: 1678px;
  }
}
@media (max-width: 730px) {
  .star {
    left: 0px;
    top: 1976px;
  }
}
.house {
  z-index: -1;
  position: absolute;
  top: 2873px;
  right: 98px;
}
@media (max-width: 1150px) {
  .house {
    display: none;
  }
}
@media (max-width: 730px) {
  .house {
    z-index: 1;
    display: block;
    width:30px;
    height: 48px;
    right: 15px;
    top: 3390px;
  }
}
.pencil {
  z-index: -1;
  position: absolute;
  top: 3217px;
  left: 52px;
}
@media (max-width: 1150px) {
  .pencil {
    display: none;
  }
}
.rainbow {
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 400px;
}
@media (max-width: 1587px) {
  .rainbow {
    display: none;
  }
}
@media (max-width: 1150px) {
  .rainbow {
    display: block;
    width: 101px;
    height: 70px;
    left: 18px;
    top: 230px;
  }
}
@media (max-width: 730px) {
  .rainbow {
    display: none;
  }
}
.boy {
  z-index: 1;
  position: absolute;
  top: 150px;
  right: 500px;
}
@media (max-width: 1587px) {
  .boy {
    display: none;
  }
}
@media (max-width: 1150px) {
  .boy {
    width: 78px;
    height: 89px;
    right: 48px;
    top: 170px;
  }
}
@media (max-width: 730px) {
  .boy {
    display: none;
  }
}
.secondMain {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondMainHeader {
  text-align: center;
  font-size: 36px;
  font-family: 'Rubik';
  font-weight: 500;
  line-height: 50.4px;
  color: #122659;
}
@media (max-width: 1150px) {
  .secondMain {
    margin-top: 110px;
  }
}
@media (max-width: 730px) {
  .secondMainHeader {
    font-size: 22px;
    line-height: 30.8px;
  }
  .secondMain {
    margin-top: 60px;
  }
}
.secondMainTextBlock {
  margin-top: 80px;
  transform: translateX(-39px);
  width: 931px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.firstColumn {
  width: 414px;
}
.secondColumn {
  width: 431px;
}
.columnHeader {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  color: #122659;
  font-weight: 500;
}
.columnText {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 23.2px;
  color: #122659;
  font-weight: 400;
}
.video {
  position: relative;
  width: 431px;
  height: 231px;
  background-image: url(./images/Rectangle\ 63.png);
}
.video img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.bottomText{
  padding-top: 10px;
}
@media (max-width: 1150px) {
  .secondMainTextBlock {
    margin-top: 50px;
    transform: translateX(0px);
    justify-content: space-between;
    width: 678px;
    gap: 41px;
  }
  .firstColumn {
    width: inherit;
    
  }
  .secondColumn {
    width: inherit;
  }
  .columnHeader {
    font-size: 18px;
    line-height: 25.2px;
    height: 37px;
  }
  .fstHeader {
    width: 200px;
  }
  .scdHeader {
    width: 250px;
  }
  .columnText {
    font-size: 14px;
    line-height: 20.3px;
    width: 283px;
  }
  .bottomText {
    padding-top: 6px;
  }
  .video {
    background-image: url(./images/Rectangle\ 63\(2\).png);
    width: 354px;
    height: 262px;
  }
}
@media (max-width: 730px) {
  .secondMainTextBlock {
    margin-top: 40px;
    width: 290px;
    flex-direction: column;
  }
  .columnHeader {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 22.4px;
    height: 37px;
  }
  .bottomText {
    margin-bottom: 35px;
  }
  .fstHeader {
    width: 176px;
  }
  .scdHeader {
    width: 229px;
  }
  .video {
    background-image: url(./images/Rectangle\ 63\(3\).png);
    width: 290px;
    height: 262px;
  }
}
.secondMainSecondBlock {
  margin-top: 130px;
  transform: translateX(-39px);
  width: 931px;
  height: 474px;
  position: relative;
}
.secondBlockHeader {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #122659;
}
.headerOne {
  position: absolute;
  top: 81px;
}
.headerTwo {
  position: absolute;
  top: 35px;
  right: 10px;
}
.headerThree {
  position: absolute;
  top: 349px;
}
.headerFour {
  position: absolute;
  top: 289px;
  right: 41px;
}
.secondBlockText {
  font-size: 16px;
  line-height: 23.2px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #122659;
}
.textOne {
  position: absolute;
  width: 244px;
  height: 58px;
  top: 116px;
}
.textTwo {
  position: absolute;
  width: 249px;
  height: 58px;
  right: 0px;
  top: 70px;
}
.textThree {
  position: absolute;
  width: 304px;
  height: 80px;
  bottom: 10px;
}
.textFour {
  position: absolute;
  width: 244px;
  height: 80px;
  bottom: 70px;
  right: 5px;
}
.secondMainSecondBlock img{
  position: absolute;
}
.shortArrowOne {
  top: 213px;
  left: 176.12px;
  transform: rotate(180deg);
}
.shortArrowTwo {
  top: 141.26px;
  right: 154.9px;
}
.longArrowOne {
  left: 218px;
}
.longArrowTwo {
  bottom: 15.73px;
  right: 238.97px;
}
.mainPict {
  left: 319px;
  top: 22px;
}
.longArrowOneSec {
  display: none;
}
.arrowOne, 
.arrowTwo, 
.arrowThree, 
.arrowFour {
  display: none;
}
@media (max-width: 1150px) {
  .secondMainSecondBlock {
    width: 678px;
    transform: translate(0px);
    height: 365px;
  }
  .secondBlockHeader {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #122659;
  }
  .headerOne {
    position: absolute;
    top: 40px;
  }
  .headerTwo {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .headerThree {
    position: absolute;
    top: 255px;
  }
  .headerFour {
    position: absolute;
    top: 190px;
    right: 34px;
  }
  .mainPict {
    top: 43px;
    left: 240px;
    width: 225px;
    height: 257px;
  }
  .secondBlockText {
    line-height: 20.3px;
    font-size: 14px;
  }
  .textOne {
    position: absolute;
    width: 244px;
    height: 58px;
    top: 70px;
  }
  .textTwo {
    position: absolute;
    width: 215px;
    height: 50px;
    right: 0px;
    top: 30px;
  }
  .textThree {
    position: absolute;
    width: 257px;
    height: 79px;
    bottom: 0px;
  }
  .textFour {
    position: absolute;
    width: 214px;
    height: 70px;
    top: 223px;
    right: 5px;
  }
  .shortArrowOne {
    display: none;
  }
  .shortArrowTwo {
    width: 69px;
    height: 52px;
    top: 95.26px;
    right: 142.9px;
  }
  .longArrowOneSec {
    left: 194px;
    width: 134px;
    height: 46px;
    display: block;
  }
  .longArrowOne {
    display: none;
  }
  .longArrowTwo {
    width: 107px;
    height: 37px; 
    bottom: 25.73px;
    right: 185.97px;
  }
}
@media (max-width: 730px) {
  .secondMainSecondBlock {
    margin-top: 60px;
    width: 290px;
    height: 710px;
  }
  .secondBlockHeader {
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #122659;
  }
  .headerOne {
    position: static;
    margin-bottom: 0px;
  }
  .headerTwo {
    position: static;
    margin-top: 35px;
    margin-left: 75px;
  }
  .headerThree {
    position: static;
    margin-top: 270px;
  }
  .headerFour {
    position: static;
    margin-top: 35px;
    margin-left: 76px;
  }
  .mainPict {
    position: static;
    top: 216px;
    left: 0px;
    width: 184px;
    height: 210px;
    margin-left: 53px;
    margin-top: 10px;
  }
  .secondBlockText {
    line-height: 20.3px;
    font-size: 14px;
  }
  .textOne {
    position: static;
    margin-top: 5px;
    width: 214px;
    height: 49px;
  }
  .textTwo {
    position: static;
    width: 215px;
    height: 50px;
    margin-top: 5px;
    margin-left: 75px;
  }
  .textThree {
    position: static;
    width: 257px;
    height: 79px;
    margin-top: 5px;
  }
  .textFour {
    position: static;
    width: 214px;
    height: 70px;
    margin-top: 5px;
    margin-left: 76px;
  }
  .shortArrowOne {
    display: none;
  }
  .shortArrowTwo {
    width: 69px;
    height: 52px;
    top: 95.26px;
    right: 142.9px;
    display: none;
  }
  .longArrowOneSec {
    left: 194px;
    width: 134px;
    height: 46px;
    display: block;
    display: none;
  }
  .longArrowOne {
    display: none;
  }
  .longArrowTwo {
    width: 107px;
    height: 37px; 
    bottom: 25.73px;
    right: 185.97px;
    display: none;
  }
  .arrowOne {
    display: block;
    top: 100px;
    left: 5px;
  }
  .arrowTwo {
    display: block;
    top: 205px;
    z-index: 2;
    right: 19px;
  }
  .arrowThree {
    display: block;
    top: 376px;
    left: 7px;
    z-index: 2;
  }
  .arrowFour {
    display: block;
    top: 390px;
    right: -10px;
  }
}
.thirdMain {
  display: flex;
  justify-content: center;
  position: relative;
  background-position: center;
  background-image: url(./images/back\ 1.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 843px;
  margin-top: 130px;
}
.star {
  z-index: 1;
  position: absolute;
  top: 114px;
  left: 137px;
}
@media (max-width: 1150px) {
  .star {
    width: 40px;
    height: 39px;
    left: 25px;
    top: 58px;
  }
}
@media (max-width: 730px) {
  .star {
    left: -5px;
    top: 0px;
  }
}
.thirdMainTopBlock {
  margin-top: 183px;
  display: flex;
  justify-content: space-between;
  gap: 435px;
}
.groupHeader {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 50.4px;
  color: #122659;
  align-self: flex-start;
}
.groupText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.2px;
  width: 298px;
  color: #122659;
}
.thirdMainBottomBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
.blockHeader {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 28px;
  color: #122659;
  margin-bottom: 40px;
  margin-top: 50px;
}
.blockText {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 22.4px;
  color: #122659;
}
.cost {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 28px;
  color: #122659;
  margin-top: 50px;
}
.cost::after {
  content: url(./images/₽.png);
  margin-right: 5px;
}
.blockBtn {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 22.4px;
  color: #122659;
  padding: 18px 35px 20px 35px;
  border-radius: 35px;
  width: 166px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.bottomBlock {
  border-radius: 12px;
  width: 296px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 57px;
}
.startText {
  margin-bottom: 10px;
}
.endStart {
  margin-top: 10px;
}
.bottomOne {
  border: 3px solid #8DD9E5;
}
.bottomOne button{
  background-color: #8DD9E5;
}
.bottomTwo {
  border: 3px solid #FFD787;
}
.bottomTwo button{
  background-color: #FFD787;
}
.bottomThree {
  border: 3px solid #FEB9CC;
}
.bottomThree button{
  background-color: #FEB9CC;
}
@media (max-width: 1150px) {
  .thirdMain {
    align-items: start;
    margin-top: 110px;
    height: 700px;
    background-image: url(./images/back\ 1\(2\).png);
  }
  .thirdMainTopBlock {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    gap: 180px;
  }
  .groupHeader {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 50.4px;
    color: #122659;
    align-self: flex-start;
  }
  .groupText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.3px;
    width: 261px;
    color: #122659;
  }
  .thirdMainBottomBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }
  .blockHeader {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: #122659;
    margin-bottom: 35px;
    margin-top: 45px;
  }
  .blockText {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 22.4px;
    color: #122659;
  }
  .cost {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: #122659;
    margin-top: 50px;
  }
  .cost::after {
    content: url(./images/₽.png);
    margin-right: 5px;
  }
  .blockBtn {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 22.4px;
    color: #122659;
    padding: 15px 28px 17px 28px;
    border-radius: 35px;
    width: 152px;
    margin-top: 35px;
    margin-bottom: 45px;
  }
  .bottomBlock {
    border-radius: 12px;
    width: 206px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .startText {
    margin-bottom: 10px;
  }
  .endStart {
    margin-top: 10px;
  }
}
@media (max-width: 730px) {
  .thirdMain {
    margin-top: 60px;
    height: 1260px;
    width: 100%;
    background-image: url(./images/Rectangle\ 80.png);
  }
  .thirdMainTopBlock {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .groupHeader {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 30.8px;
    color: #122659;
    align-self: flex-start;
  }
  .groupText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.3px;
    width: 261px;
    color: #122659;
  }
  .thirdMainBottomBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px; 
  }
  .blockHeader {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: #122659;
    margin-bottom: 35px;
    margin-top: 45px;
  }
  .blockText {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 22.4px;
    color: #122659;
  }
  .cost {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: #122659;
    margin-top: 50px;
  }
  .cost::after {
    content: url(./images/₽.png);
    margin-right: 5px;
  }
  .blockBtn {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 22.4px;
    color: #122659;
    padding: 15px 28px 17px 28px;
    border-radius: 35px;
    width: 152px;
    margin-top: 35px;
    margin-bottom: 45px;
  }
  .bottomBlock {
    border-radius: 12px;
    width: 100%;
    height: 295px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  .startText {
    margin-bottom: 10px;
  }
  .endStart {
    margin-top: 10px;
  }
  .bottomOne {
    margin-top: 40px;
  }
  .bottomThree {
    margin-bottom: 60px;
  }
}
.fourthMain {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fourthTopBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 236px;
}
.fourthTopBlock h2 {
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  line-height: 50.4px;
  color:#122659;
  font-weight: 500;
}
.fourthTopBlock p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 23.2px;
  color:#122659;
  font-weight: 400;
  width: 350px;
}
.fourthMiddleBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.personBlock {
  margin-top: 57px;
}
.personBlock figcaption{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personBlock h4 {
  margin-top: 10px;
  color:#122659;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
}
.personBlock p {
  margin-top: 0px;
  color:#677085;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 23.2px;
}
.fourtBottomBlock {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
}
.fourtBottomBlock img:hover{
  cursor: pointer;
}
.personOneWayTwo {
  display: none;
}
@media (max-width: 1150px) {
  .fourthMain {
    margin-top: 110px;
  }
  .personFour {
    display: none;
  }
  .fourthTopBlock {
    gap: 134px;
  }
  .fourthTopBlock h2 {
    line-height: 41.4px;
    width: 277px;
  }
  .fourthTopBlock p {
    line-height: 20.3px;
    font-size: 14px;
    width: 261px;
  }
  .personBlock img {
    width: 206px;
    height: 205px;
  }
  .personBlock {
    margin-top: 51px;
  }
  .fourtBottomBlock {
    margin-top: 4 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
  }
  .personBlock h4 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 25.2px;
  }
  .personBlock p {
    font-size: 14px;
    line-height: 20.3px;
  }
}
@media (max-width: 730px) {
  .fourthMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .fourthTopBlock {
    align-self: center;
    width: 320px;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .fourthTopBlock h2 {
    line-height: 22.4px;
    font-size: 16px;
    width: auto;
    font-size: 22px;
    padding-left: 15px;
  }
  .fourthTopBlock p {
    line-height: 20.3px;
    font-size: 14px;
    width: 261px;
    padding-left: 15px;
  }
  .fourthMiddleBlock {
    width: 320px;
  }
  .fourtBottomBlock {
    position: relative;
    justify-content: space-between;
    margin-top: 0px;
    width: 310px;
  }
  .fourtBottomBlock img{
    position: absolute;
  }
  .leftArrow {
    position: absolute;
    top: -30px;
    left: 10px;
  }
  .rightArrow {
    position: absolute;
    top: -30px;
    right: 10px;
  }
  .personTwo, 
  .personThree {
    display: none;
  }
  .personOneWayOne {
    display: none;
  }
  .personOneWayTwo {
    display: block;
    width: 290px;
    height: 232px;
  }
  .personBlock img {
    width: 290px;
    height: 232px;
  }
  .fourthTopBlock {
    align-self: center;
  }
}
.fifthMain {
  position: relative;
  margin-top: 130px;
  background-position: center;
  background-repeat: no-repeat;
  height: 453px;
  width: 100%;
  background-image: url(./images/back\ banner\ 1.png);
}
.fifthTextBlock {
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fifthTextBlock h2{
  width: 490px;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  line-height: 45px;
  text-align: center;
  color: #FEFCFA;
}
.fifthTextBlock p{
  margin-top: 35px;
  width: 360px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 23.2px;
  text-align: center;
  color: #FEFCFA;
}
.fifthTextBlock button{
  margin-top: 40px;
  background-color: #FFD787;
  padding: 18px 35px 20px 35px;
  border-radius: 35px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  line-height: 22.4px;
  color: #122659;
}
@media (max-width: 1150px) {
  .fifthMain {
    margin-top: 110px;
    /* background-image: url(./images/back\ banner\ 2.png); */
  }
  .fifthTextBlock p{
    margin-top: 30px;
    width: 318px;
    font-size: 14px;
    line-height: 20.3px;
  }
  .fifthTextBlock button{
    margin-top: 35px;
    padding: 15px 28px 17px 28px;
    border-radius: 35px;
  }
}
@media (max-width: 730px) {
  .fifthMain {
    margin-top: 60px;
    background-image: url(./images/back\ banner\ 3.png);
  }
  .fifthTextBlock h2{
    width: 187px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    line-height: 27.5px;
    text-align: center;
    color: #FEFCFA;
  }
  .fifthTextBlock p{
    width: 240px;
  }
  .fifthTextBlock button{
    margin-top: 30px;
    padding: 15px 28px 17px 28px;
    border-radius: 35px;
  }
}
@media (max-width: 730px) {
  .wrapper {
    width: 100%;
  }
}
footer {
  margin-top: 200px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topFooter {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 413px;
  height: 611px;
  background-color: #F7FAFC;
  border-radius: 12px;
  top: -70px;
  right: 55%;
}
.topFooter h2 {
  margin-left: 70px;
  margin-top: 60px;
  color:#122659;
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  line-height: 45px;
  font-weight: 500;
}
.mapFooter {
  width: 100%;
  height: 611px;
  background-image: url(./images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 114px;
}
.mapFooter img{
  position: absolute;
  top: 165px;
  left: 50%;
}
.topFooterTextBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-left: 70px;
}
.footerTextBlockMini h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 23.2px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  color:#122659;
}
.footerTextBlockMini p{
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  font-family: 'Montserrat', sans-serif;
  color:#122659;
}
.textBlockMiniIMG {
  display: flex;
  flex-direction: row;
  transform: translateX(-10px);
}
.vk {
  transform: translateX(-5px);
}
.inst {
  transform: translateX(-10px);
}
.bottomFooter {
  display: none;
}
@media (max-width: 1150px) {
  .topFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 768px;
    height: 468px;
    background-color: #F7FAFC;
    border-radius: 12px 12px 0px 0px;
    top: auto;
    right: auto;
  }
  .mapFooter {
    height: 438px;
    background-image: url(./images/map2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;
  }
  .bottomFooter {
    display: flex;
    width: 768px;
    height: 92px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
  }
  .bottomFooter p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 19.6px;
    color:#122659;
  }
  @media (max-width: 785px) {
    .topFooter {
      width: 100%;
    }
    .bottomFooter {
      width: 100%;
    }
  }
  .topFooter h2 {
    margin-left: 45px;
    margin-top: 70px;
  }
  .topFooterTextBlock {
    display: flex;
    flex-direction: row;
    width: 530px;
    flex-wrap: wrap;
    gap:29px;
    margin-top: 30px;
    margin-left: 45px;
  }
  .fourFooter {
    transform: translateX(105px);
  }
  .mapFooter img{
    top: 620px;
    left: 46%;
  }
}
@media (max-width: 730px) {
  .topFooter {
    width: 320px;
    height: 485px;
  }
  .mapFooter {
    width: 320px;
    height: 261px;
    background-image: url(./images/map3.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;
  }
  .bottomFooter {
    display: flex;
    width: 320px;
    height: 118px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: start;
    padding-left: 15px;
    padding-right: 0px;
  }
  .bottomFooter p{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 16.8px;
    color:#122659;
  }
  .topFooter h2 {
    margin-left: 15px;
    margin-top: 50px;
    font-size: 22px;
    line-height: 27.5px;
  }
  .topFooterTextBlock {
    display: flex;
    flex-direction: column;
    width: 305px;
    flex-wrap:nowrap;
    gap:15px;
    margin-top: 20px;
    margin-left: 15px;
  }
  .fourFooter {
    transform: translateX(0px);
  }
  .footerTextBlockMini h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 20.3px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    color:#122659;
  }
  .topFooter {
    font-size: 16px;
    line-height: 22.4px;
  }
  .mapFooter img{
    top: 565px;
    left: 45%;
  }
  footer {
    margin-top: 60px;
  }
}
.burgerBlock {
  display: none;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  width: 768px;
  height: 385px;
  background-color: #FFFFFF;
  right: 50%;
  transform: translateX(50%);
  top: 0px;
}
.closeBurgerMenu {
  cursor: pointer;
  margin-left: 45px;
  position: relative;
  width: 25px;
  height: 25px;
}
.closeBurgerMenu::before,
.closeBurgerMenu::after {
  position: absolute;
  width: 100%;
  height: 10%;
}
.closeBurgerMenu::before,
.closeBurgerMenu::after {
  content: "";
  background-color: #122659;
}
.closeBurgerMenu::after {
  bottom: 11px;
  transform: rotate(45deg);
}
.closeBurgerMenu::before {
  top: 11px;
  transform: rotate(-45deg);
}
.closeBurgerMenu span {
  top: 50%;
  transform: scale(1), translate(0px, -50%);
}
.burgerBlock h2 {
  font-family: 'Rubik', sans-serif;
  color: #122659;
  font-size: 28px;
  left: 94px;
  top: 22px;
}
.closeBurgerBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.burgerLinkBlock {
  margin-top: 30px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.burgerLinkBlock a{
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 30.8px;
  color:#122659;
}
.burgerPhoneBlock {
  margin-left: 45px;
  margin-top: 30px;
}
.burgerPhoneBlock p {
  font-size: 18px;
}
@media (max-width: 730px) {
  .burgerBlock {
    width: 320px;
    height: 335px;
    right: 50%;
    transform: translateX(50%);
    top: 0px;
  }
  .closeBurgerMenu {
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    width: 23px;
    height: 23px;
  }
  .closeBurgerMenu::before,
  .closeBurgerMenu::after {
    position: absolute;
    width: 100%;
    height: 10%;
  }
  .closeBurgerMenu::before,
  .closeBurgerMenu::after {
    content: "";
    background-color: #122659;
  }
  .closeBurgerMenu::after {
    bottom: 10px;
    transform: rotate(45deg);
  }
  .closeBurgerMenu::before {
    top: 10px;
    transform: rotate(-45deg);
  }
  .closeBurgerMenu span {
    top: 50%;
    transform: scale(1), translate(0px, -50%);
  }
  .burgerBlock h2 {
    font-family: 'Rubik', sans-serif;
    color: #122659;
    font-size: 24px;
    left: 94px;
    top: 22px;
  }
  .closeBurgerBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .burgerLinkBlock {
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .burgerLinkBlock a{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 30.8px;
    color:#122659;
  }
  .burgerPhoneBlock {
    margin-left: 15px;
    display: flex;
    margin-top: 25px;
  }
  .burgerPhoneBlock p {
    font-size: 18px;
  }
}
@media (max-width: 1150px) {
  .burgerPhoneBlock {
    display: flex;
  }
}